body{
    background-color: #252525;
}
.bolded{
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}
.page{
    width: 64em;
    margin: auto;
    background-color: white;
    padding:2em;
    padding-right: 3em;
    padding-top: 0px;
}
.paragraph{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: rgba(128, 128, 128, 0.829);
}
.main-header{
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 0em;
    margin-top: 0.3em;
    text-align: center;
}
.section-header{
    font-family: 'Open Sans', sans-serif;
    margin-top:0px;
    font-weight: 900;
}
.viz{
    width: 100% ;
}
.red-text{
    color: red;
    font-weight:bold;
}
.bolded-text{
    color: rgba(0, 0, 0, 0.77);
    font-weight: bold;
}
.green-text{
    color: green;
    font-weight:bold;
}