body{
    background-color: #252525;
}
.bolded{
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}
.page{
    width: 64em;
    margin: auto;
    background-color: white;
    padding:2em;
    padding-right: 3em;
    padding-top: 0px;
}
.paragraph{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.section-header{
    font-family: 'Open Sans', sans-serif;
    margin-top:0px;
}
.viz{
    width: 100% ;
}